/* BASIC STYLINGS
============================================================================= */

.form-one {
  background-color: #018bb3;
  transition: background-color 0.5s ease;
}
.form-two {
  background-color: #c137a2;
  transition: background-color 0.5s ease;
}
.form-three {
  background-color: #db942e;
  transition: background-color 0.5s ease;
}
.form-four {
  background-color: #5d8918;
  transition: background-color 0.5s ease;
}
.form-six {
  background-color: #18a8ad;
  transition: background-color 0.5s ease;
}
.form-eight {
  background-color: #f49a0c;
  transition: background-color 0.5s esae;
}
.childDev {
  /*float: left;*/
  
  display: inline-block;
  margin: 2%;
}
.containerBody {
  margin: 0 auto;
  text-align: center;
  left: 50%;
}
.city-banner {
  color: #fff;
  /*margin-left: 35%;*/
  
  text-align: center;
  margin-top: 5%;
  margin-right: auto;
}
.header-city {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5%;
  color: #fff;
  font-size: 50px;
  font-family: 'flaticon' sans-serif;

}
.nextButton {
  cursor: pointer;
  clear: both;
  display: block;
  margin-top: 30%;
  margin-top: 100px;
  background: #1a1a1a;
  color: white;
  font-size: 22px;
  padding: 14px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
  width: 120px;
  /*max-width: 10%;*/
}
.header-city.black {
  color: #2a2a2a;
}
.button-row {
  margin-top: 2%;
}
.circle {
  width: 200px;
  height: 200px;
  /*  background: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;*/
}
.six-page {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}
.circle-yes {
  margin-left: 10%;
  margin-top: 0%;
  position: absolute;
  width: 540px;
  height: 540px;
  max-width: 40%;
  /*max-height: 40%;
  background: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;*/
  
  z-index: 3000;
}
.circle-no {
  top: 40%;
  right: 17%;
  position: absolute;
  width: 330px;
  height: 330px;
  max-width: 20%;
  max-height: 20%;
  /*  background: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;*/
  
  z-index: 3000;
}
/* ANIMATION STYLINGS
============================================================================= */

#signup-form {
  position: relative;
  min-height: 300px;
  overflow: hidden;
  padding: 30px;
}
/* basic styling for entering and leaving */
/* left and right added to ensure full width */

#form-views.ng-enter, #form-views.ng-leave {
  position: absolute;
  left: 30px;
  right: 30px;
  transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
}
/* enter animation */

#form-views.ng-enter {
  -webkit-animation: slideInRight 0.5s both ease;
  -moz-animation: slideInRight 0.5s both ease;
  animation: slideInRight 0.5s both ease;
}
/* leave animation */

#form-views.ng-leave {
  -webkit-animation: slideOutLeft 0.5s both ease;
  -moz-animation: slideOutLeft 0.5s both ease;
  animation: slideOutLeft 0.5s both ease;
}
/* ANIMATIONS
============================================================================= */
/* slide out to the left */

@keyframes slideOutLeft {
  to {
    transform: translateX(-200%);
  }
}
@-moz-keyframes slideOutLeft {
  to {
    -moz-transform: translateX(-200%);
  }
}
@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-200%);
  }
}
/* slide in from the right */

@keyframes slideInRight {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(200%);
  }
  to {
    -moz-transform: translateX(0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
  }
}