<div class="city-banner">
  <h1 class="header-city black" style="font-weight:normal">Let us share the message with our friends and family!<br>
    <b style="margin-top:20px;display:block;">And let them know what's good for them...</b>
  </h1>
</div>
<div class="button-row containerBody">
  <h2>Share this</h2>
  <div class="childDev">
    <img src="images/0901.png" />
  </div>
  <div class="childDev">
    <img src="images/0902.png" />
  </div>
</div>
<div class="nextButton" ui-sref="form.ten">Next</div>