<div class="city-banner">
  <h1 class="header-city" style="font-weight:normal">How about changing your profile picture?
  </h1>
  <h3 class="flaticon" style="font-weight:normal;"><br>Click on any of these profile pictures<br>to change your facebook profile picture</h3>
</div>
<div class="button-row containerBody">
  <div class="childDev" style="width:200px; max-width:25%; cursor:pointer;">
    <a target="_blank" href="https://www.facebook.com/AAPkaArvind/photos/a.347941108636726.74962.347939248636912/738677976229702/?makeprofile=1"><img class="img-responsive"  src="images/iamkejriwal.jpg" />
    </a>
  </div>
  <div class="childDev" style="width:200px; max-width:25%; cursor:pointer;">
    <a target="_blank" href="https://www.facebook.com/AAPkaArvind/photos/a.347941108636726.74962.347939248636912/636128883151279/?makeprofile=1"><img class="img-responsive" src="images/kejriwal2.jpg" />
    </a>
  </div>
  <div class="childDev" style="width:200px; max-width:25%; cursor:pointer;">
    <a target="_blank" href="https://www.facebook.com/AAPkaArvind/photos/a.347941108636726.74962.347939248636912/364986153598888/?makeprofile=1"><img class="img-responsive"  src="images/kejriwal3.jpg" />
    </a>
  </div>
</div>
<div class="nextButton" ui-sref='form.eleven' style="width:160px;">Almost Done</div>