<div class="city-banner">
<div class="flaticon header-city">Which of the following needs urgent attention<br> by the upcoming AAP government?</div>
</div>
<center>
<div class="button-row containerBody" style="height:200px; margin-top:100px;">
  <div class="childDev six-page" ui-sref="form.nine ">
    <img src="images/0601.png" />
  </div>
  <div class="childDev six-page" ui-sref="form.nine ">
    <img src="images/0602.png" />
  </div>
  <div class="childDev six-page" ui-sref="form.nine ">
    <img src="images/0603.png" />
  </div>
</div>
</center>

<!-- <center><div ui-sref="form.eight" class="nextButton">Next</div></center> -->